<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <h1>Edit post</h1>
    <p class="id">Id: <%= post.id %> </p>
    <h3 class="edit">@<%= post.username %></h3>
    <form method="POST" action="/posts/<%=post.id %>?_method=PATCH"> 
        <textarea name="content">
            <%= post.content %>
        </textarea>
        <button>Submit</button>

    </form>
</body>
</html>